<template>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form @submit.prevent="create">
                        <div class="form-group">
                            <label for="">Image: </label>
                            <input type="file" class="form-control"
                                @change="imageChanged">
                        </div>
                        <div class="form-group">
                            <label for="">Name: </label>
                            <input name="name" type="text" class="form-control"
                                   v-validate="'required'"
                                   v-model="product.name">
                            <div class="help-block red--text"
                                 v-show="errors.has('name')">
                                {{ errors.first('name') }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Price: </label>
                            <input name="price" type="number" class="form-control"
                                   v-validate="'min_value:1'"
                                   v-model="product.price">
                            <div class="help-block red--text"
                                 v-show="errors.has('price')">
                                {{ errors.first('price') }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Description: </label>
                            <textarea type="text" class="form-control"
                                      v-model="product.description"></textarea>
                        </div>
                        <input type="submit" class="btn btn-success pull-right" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    data () {
      return {
        product: {
          name: '',
          price: 0,
          description: '',
          image: ''
        }
      }
    },
    methods: {
      imageChanged(e) {
        let fileReader = new FileReader()

        fileReader.readAsDataURL(e.target.files[0])

        fileReader.onload = (e) => {
          this.product.image = e.target.result
        }
      },
      create(){
        this.$validator.validateAll().then((result) => {
          if(result)
          this.axios.post('api/products', this.product)
              .then(() => {
                this.$router.push('/feed')
              })
        })
      }
    }
  }
</script>

<style scoped>

</style>