<template>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label for="">Name: </label>
                        <input type="text" class="form-control"
                               v-model="product.name">
                    </div>
                    <div class="form-group">
                        <label for="">Price: </label>
                        <input type="number" class="form-control"
                               v-model="product.price">
                    </div>
                    <div class="form-group">
                        <label for="">Description: </label>
                        <textarea type="text" class="form-control"
                                  v-model="product.description"></textarea>
                    </div>
                    <button class="btn btn-success pull-right"
                            @click="update"
                            v-show="product.name && product.price && product.description">
                        Update
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import swal from 'sweetalert'

  export default {
    data () {
      return {
        product: {}
      }
    },

    created(){
        this.getProduct()
    },

    methods: {
      getProduct(){
        this.axios.get('api/products/' + this.$route.params.product)
            .then(response => {
              this.product = response.data
            })
      },
      update(){
        this.axios.put('api/products/' + this.$route.params.product, this.product)
            .then(response => {
              swal('Updated!', 'Your product has been updated!', 'success')
            })
      }
    }
  }
</script>

<style scoped>

</style>