<template>
    <div class="row">
<!--        <h3>Tes Single View {{ singleView }}</h3>
        <ul @click.prevent="showProduct(product2)" v-for="product2 in products2">
            <li>{{ product2.id }} | {{ product2.name }}</li>
        </ul>-->
        <my-product
            v-for="product in products"
            @delete-product="deleteProduct(product)"
            :authenticatedUser="authenticatedUser"
            :product="product" :key="product.id">
        </my-product>
    </div>
</template>

<script>
  import Product from './Product'
  import swal from 'sweetalert'
  import { mapGetters, mapActions } from 'vuex'

  export default {
    data () {
      return {
        products: []
      }
    },

    computed: {
      authenticatedUser(){
        return this.$auth.getAuthenticatedUser()
      },
      ...mapGetters([
          'products2',
          'singleView',
          'isAuth',
      ]),
    },

    components: {
      'my-product': Product
    },

    created () {
      this.axios.get('api/products')
          .then(response => {
            this.products = response.data
          })
    },

    methods: {
      deleteProduct (product) {
        swal({
          title: "Are you sure ?",
          text: "You will not be able to recover this product!",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
            .then((willDelete) => {
              if (willDelete) {
                this.axios.delete('api/products/' + product.id)
                    .then(response => {

                      let index = this.products.indexOf(product)
                      this.products.splice(index, 1)

                      swal("Your product has been deleted!", {
                        icon: "success",
                      });
                    })
              }
            });
      },
      ...mapActions([
        'showProduct'
      ])
    }
  }
</script>

<style scoped>

</style>