<template>
    <div class="col-md-4">
        <div class="col-md-12 thumbnail" style="height: 320px;">
            <div class="image-box-size" style="height: 150px;">
                <img class="img-responsive center-block" v-if="product.image" :src="root + '/' + product.image">
            </div>

            <h3>{{ product.name }}</h3>
            <p>$ {{ product.price }}</p>
<!--            <a href="#" class="btn btn-default btn-sm">
                Wishlist
            </a>
            <a href="#" class="btn btn-success btn-sm">
                Buy
            </a>-->
            <p v-if="product.user_id == authenticatedUser.id">
                <a href="#" class="btn btn-danger" role="button"
                   @click="$emit('delete-product')">
                    Delete
                </a>
                <router-link class="btn btn-success"
                             :to="'/products/' + product.id + '/edit'">
                    Edit
                </router-link>
            </p>
        </div>
    </div>
</template>

<script>
  export default {
    props: ['product', 'authenticatedUser'],
    data(){
      return {
        root: this.axios.defaults.baseURL
      }
    }
  }
</script>

<style>

</style>