<template>
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <router-link tag="li" to="/login" v-if="!isAuth">
                    <a>Login</a>
                </router-link>
                <router-link tag="li" to="/register" v-if="!isAuth">
                    <a>Register</a>
                </router-link>
                <router-link tag="li" to="/feed" v-if="isAuth">
                    <a>Products</a>
                </router-link>
                <router-link tag="li" to="/products/create" v-if="isAuth">
                    <a>Create</a>
                </router-link>
                <li v-if="isAuth">
                    <a href="#" @click.prevent="logout">Logout</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">Vue Passport</h3>
    </div>
</template>

<script>
  import { mapGetters, mapActions, mapState } from 'vuex'

    export default {
      created () {
        this.$store.dispatch('isAuth', this.$auth.isAuthenticated())
        if (this.isAuth)
            this.setAuthenticatedUser()
      },

      computed: {
          ...mapGetters([
              'isAuth'
          ]),
/*          ...mapState([
              'isAuth'
          ])*/
          isAuth(){
            return this.$store.state.isAuth
          }
      },

      methods: {
        setAuthenticatedUser(){
          this.$http.get('api/user')
              .then(response => {
                this.$auth.setAuthenticatedUser(response.data)

                // console.log(this.$auth.getAuthenticatedUser())
              })
        },
        logout(){
          this.axios.get('api/logout')
              .then(response => {
                console.log('User has been logouted')
                this.$auth.destroyToken()
                this.$store.dispatch('isAuth', this.$auth.isAuthenticated())
                this.$router.push('/login')
              })
        }
      }
    }
</script>