<template>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <input
                                v-model="email"
                                class="form-control"
                                type="email"
                                placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input
                                v-model="password"
                                class="form-control"
                                type="password"
                                placeholder="Password">
                    </div>
                    <!--<v-btn color="primary">Primary</v-btn>-->
                    <button @click="login" class="btn btn-success pull-right">
                        Login
                    </button>
                </div>
            </div>
        </div>
    </div>﻿
</template>

<script>
  import { client_secret } from "../../packages/config"

  export default {
    data () {
      return {
        email: '',
        password: ''
      }
    },
    methods: {
      login () {
        let data = {
            client_id: 2,
            client_secret: client_secret,
            grant_type: 'password',
            username: this.email,
            password: this.password
        }

        this.axios.post("oauth/token", data)
            .then(response => {
              this.$auth.setToken(response.data.access_token, response.data.expires_in + Date.now())
              this.$store.dispatch('isAuth', this.$auth.isAuthenticated())

              this.$router.push('/feed')
            })
      }
    }
  }
</script>

<style scoped>

</style>